
* { box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.nav-bar{

  background-color:#fff;
  color: black;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;

}
.logo{
  
 padding-left:  100px;
 

}
.func{
  font-size: 1rem;
  color: black;
}
a {
  margin : 50px;
}
.second {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.slaider{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.images {
  display: flex;
  /* width: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
}
.images img{
  height: 500px;
  
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all;
}
.images input {
  display: none;
  
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
  background-color: black;
}
.dots label:hover{
  background: rgb(255, 77, 0);
}

#img1:checked~ .m1 {
  margin-left: 0%;

}
#img2:checked~ .m2 {
  margin-left: -100%;

}
#img3:checked~ .m3 {
  margin-left: -200%;

}
  /* <--3rd section--> */

.trdsec {
  height: 500px;
  
  width: 100%;
  background-color: #fff;

  }

  .text1 {
    padding-top: 40px;
    color: rgb(53, 50, 50);
    display: flex;
   
    justify-content: center;
  }

  .t2{
    padding-top: 10px;
    color: rgb(53, 50, 50);
    font-size: 2rem;
    display: flex;
   
    justify-content: center;
  }

  .icon {
    display: flex;
    
    justify-content:space-between;
    padding: 70px;
   
   
    color: white;
 

    
}
.i1{
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: rgb(255, 77, 0);
}
.i11{
  margin: 30%;
}
.i2{
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: rgb(255, 77, 0);
}
.i12{
  margin: 30%;
}
.i3{
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: rgb(255, 77, 0);
}
.i13{
  margin: 30%;
}
.i4{
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: rgb(255, 77, 0);
}
.i14{
  margin: 30%;
}
.it1 {
  display: flex;
  justify-content: space-between;
  margin: 30px;
 margin-top: 10px;
 color: rgb(53, 50, 50);

 
}
.t4{
  display: flex;
  justify-content: center;
  
  /* padding-left: 400px; */
  padding-top: 40px;
}
.t5{
  display: flex;
  justify-content: center;

  /* padding-left: 400px; */
}
.timg {
  display: flex;
  padding: 70px;
  background-size: cover;
}
.icon2 {
  display: flex;
  width: 80%;
  justify-content:space-between;
 

  color: #fff;
  padding: 70px;


  
}
.rocket{
  width: 75%;
  
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  margin-bottom: 115px;
}
.rocketh{
  display: flex;
  justify-content: space-between;
  height: 30px;
 width: 220px;
  padding-left: 40px;
  margin-top: -25px;
  padding-top: 0%;
  width: 50%;
  margin-left: 50px;
}
.ics {
  width: 200px;
  height: 100px;
  padding-bottom: 900px;
  margin-bottom: 1000px;
}
#four{
  background-color: rgb(255, 77, 0);
  text-align: center;
  padding-top: 100px;
  margin-top: 2rem;
  padding-bottom: 5rem;
  color: white;
}
#four > button{
  border-radius: 10px;
  padding: 5px;
  border: none;
}
#five{
  text-align: center;
  padding-top: 35px;
}
.john {
  padding-top: 40px;
}
#five > #inner{
  display: flex;
  justify-content: center;
  padding-top: 55px;
  align-items: center;
  gap: 20px;
  margin-bottom: 3rem;
}
#five > #inner >div> p{
  color: gray;
}
#five > #inner >div >img{
  border-radius: 20px;
  border: none;
}
footer{
  background-color: rgb(88, 76, 76);
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
  padding: 5rem 0rem;
  line-height: 30px;
  font-weight: 100;
  
}
footer > div {
  width: 25%;
}
footer > div > i{
margin-right: 20px;
background-color: black;
padding: 5px;
border-radius: 50%;
border: none;
margin-top: 2rem;

}
#last{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color: white;
  background-color: black;
  padding: 1.5rem 0rem;

}
#last > #foot > ul{
  display: flex;
  gap: 10px;

}
#last > #foot > ul> li{
  font-size: 0.7rem;
  list-style-type: none;
  margin-right: 0.5rem;
  
}
a{
  text-decoration: none;

  color: white;
}
.last-nav{
 width: 100%;
  padding-top: 5px;
  padding-left: 240px;
  
}
.cont {
  padding-right: 200px;
}



  
